terraform {
  source = "git::https://github.com/dfds/terraform-aws-ssm-agent//?ref=$release"
}

# Include all settings from the parent terragrunt.hcl file
include "root" {
  path = find_in_parent_folders()
}

# Include env.hcl for environment specific settings
include "env" {
  path = find_in_parent_folders("env.hcl")
}

inputs = {
$inputs
}
